@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(80%);
    }
  }
}

.max-w-xxs {
  max-width: 15rem;
}

/* Button */

.btn {
  @apply outline-none p-2 cursor-pointer rounded-sm flex justify-center md:justify-start;
}

.btn--primary {
  @apply btn bg-gray-700 text-gray-50;
}

.btn--secondary {
  @apply btn border border-dashed;
}

/* Items Container */

.items-container {
  @apply grid gap-5 lg:gap-10 grid-cols-1 md:grid-cols-4 lg:grid-cols-6 container pt-4;
}

.empty-items-container {
  @apply grid grid-cols-1;
}

/* Item Card */

.item-card {
  @apply shadow-md flex flex-col justify-between items-center rounded-sm overflow-hidden;
}

/* Icon */

.icon {
  @apply w-6 md:w-8;
}
